<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginConfig</key>
	<dict>
		<key>accountActive</key>
		<true/>
		<key>verifyCodeLogin</key>
		<true/>
		<key>passwordLogin</key>
		<true/>
		<key>qqLogin</key>
		<true/>
		<key>wechatLogin</key>
		<true/>
		<key>alipayLogin</key>
		<true/>
		<key>faceLogin</key>
		<true/>
		<key>backgroundType</key>
		<string>video</string>
	</dict>
	<key>httpDNS</key>
	<true/>
	<key>rootUrl</key>
	<string>https://superappres.haust.edu.cn/pages/index/entry.js</string>
	<key>uniMpAppId</key>
	<string>__UNI__AA068AD</string>
	<key>preloadResources</key>
	<array>
		<string>http://superapp-baseframework.dice.supwisdom.com/static/__UNI__AA068AD.wgt</string>
	</array>
	<key>robotTitle</key>
	<string>小科</string>
	<key>authServerReqURL</key>
	<string>http://token.dice.supwisdom.com</string>
	<key>personal_securityURL</key>
	<string>https://personal-security-center.dice.supwisdom.com</string>
	<key>portalReqURL</key>
	<string>http://superportal.dice.supwisdom.com</string>
	<key>appConfig</key>
	<dict>
		<key>robotEngine</key>
		<string>weex</string>
		<key>robot</key>
		<string>show</string>
		<key>banner</key>
		<string>show</string>
		<key>notice</key>
		<string>show</string>
		<key>todayClass</key>
		<string>show</string>
		<key>hotClass</key>
		<string>hidden</string>
		<key>recommendNews</key>
		<string>show</string>
		<key>recommendServer</key>
		<string>show</string>
		<key>tabbarStudy</key>
		<string>hidden</string>
		<key>tabbarTask</key>
		<string>show</string>
		<key>enableCloseRecommendService</key>
		<false/>
		<key>aboutPageContent</key>
		<string>树维APP</string>
		<key>aboutPageCopyRight</key>
		<string>上海新开普志成信息科技</string>
		<key>aboutPageLogoSrc</key>
		<string>local:///logo.png</string>
		<key>rowCount_zjsx</key>
		<string>2</string>
		<key>rowCount_jqsy</key>
		<string>2</string>
		<key>rowCount_syfy</key>
		<string>2</string>
		<key>rowCount_sygg</key>
		<string>2</string>
	</dict>
	<key>accountConfig</key>
	<dict>
		<key>bindMobile</key>
		<false/>
		<key>forgetPwd</key>
		<true/>
		<key>modifyPwd</key>
		<true/>
		<key>changeMobile</key>
		<false/>
		<key>cancleBindMobile</key>
		<true/>
		<key>bindEmail</key>
		<true/>
		<key>shareModule</key>
		<true/>
	</dict>
	<key>mineConfig</key>
	<dict>
		<key>unreadMail</key>
		<string>show</string>
		<key>balance</key>
		<string>show</string>
		<key>borrowCount</key>
		<string>show</string>
	</dict>
</dict>
</plist>
